<%= render @beer_club %>

<p>
  <% if @beer_club.members.empty? %>
    No members in this club yet
  <% else %>
    This club has <%= pluralize(@beer_club.members.confirmed.count, 'member') %>

  <p><strong>Members</strong></p>

  <ul>
	<% @beer_club.members.confirmed.each do |user| %>
	  <li><%= link_to user.username, user %></li>
	<% end %>
  </ul>

  <% if @membership_applications.count.positive? %>
  
    <p><strong>Membership Applications</strong></p>

	<ul>
	  <% @membership_applications.each do |user| %>
	  <li>
		<%= link_to user.username, user %>
		<%= form_with(url: confirm_membership_path(user.memberships.find_by(beer_club: @beer_club, confirmed: [false, nil]).id)) do |form| %>
		<%= form.submit "Confirm", class: "btn btn-primary" %>
		<% end %>
	  </li>
	  <% end %>
	</ul>
  <% end %>
  
  <% end %>
</p>


<p>
  <% if current_user %>
    <% membership_id = Membership.find_by(user: current_user, beer_club_id: @beer_club.id)&.id %>
    <% if membership_id %>
      <%= form_with(url: membership_path(membership_id), method: :delete) do |form| %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "End the membership" %>
      <% end %>
    <% else %>
      <%= form_with(model: @membership) do |form| %>
        <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit "Join this beer club" %>
      <% end %>
	<% end %>
  <% end %>
</p>

<div>
  <p><%= link_to "Edit this beer club", edit_beer_club_path(@beer_club), class: 'btn btn-primary' %></p>
  <p><%= button_to "Destroy this beer club", @beer_club, method: :delete, class: 'btn btn-danger' %></p>
  <%= link_to "Back to beer clubs", beer_clubs_path %>
</div>
