<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if admin_user %>
  <% if @user.disabled %>
  <%= link_to "Enable this user", toggle_enabled_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Disable this user", toggle_enabled_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" %>
      <% end %>
	  
  <% end %>
</p>

<p>
<% if @user.beer_clubs.empty? %>
 Not a member of any beer club
<% else %>
 Belongs to
 <%= pluralize(@user.beer_clubs.count, 'club') %>

  <p><strong>Memberhips:</strong></p>

  <ul>
	<% @user.beer_clubs.each do |beer_club| %>
	<li><%= link_to beer_club.name, beer_club %></li>
	<% end %>
  </ul>
<% end %>
</p>

<p>
<% if @user.ratings.empty? %>
 <p>User has not rated any beers</p>
 <% else %>
   <p>
	User's favorite style is <%= @user.favorite_style %>
  </p>
  <p>
	User's favorite brewery is <%= @user.favorite_brewery %>
  </p>

 <p>
 User has made
 <%= pluralize(@user.ratings.count, 'rating') %>
 average rating
 <%= round(@user.average_rating) %>
 </p>

 <p>
   <strong>Ratings</strong>
 </p>

 <ul class="list-group">
   <% @user.ratings.each do |rating| %>
   <li class="list-group-item d-flex justify-content-between align-items-center">
	 <%= render rating %>
     <% if @user == current_user %>
	   <%= link_to("delete",
	     rating_path(rating.id),
           data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger') %>
	   <% end %>
	   </li>
   <% end %>
 </ul>

  <% end %>
</p>

<div>
  <% if @user == current_user %>
  <p><%= link_to "Edit this user", edit_user_path(@user), class: 'btn btn-primary' %></p>
  <p><%= button_to "Destroy this user", @user, method: :delete, class: 'btn btn-danger' %></p>
  <% end %>

  <%= link_to "Back to users", users_path %>
</div>
