<p style="color: green"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<p>
<% if @user.beer_clubs.empty? %>
 Not a member of any beer club
<% else %>
 Belongs to
 <%= pluralize(@user.beer_clubs.count, 'club') %>

  <p><strong>Memberhips:</strong></p>

  <ul>
	<% @user.beer_clubs.each do |beer_club| %>
	<li><%= link_to beer_club.name, beer_club %></li>
	<% end %>
  </ul>
<% end %>
</p>


<p>
<% if @user.ratings.empty? %>
 <p>User has not rated any beers</p>
<% else %>
 <p>
 User has made
 <%= pluralize(@user.ratings.count, 'rating') %>
 average rating
 <%= sprintf("%.2f", @user.average_rating) %>
 </p>

 <p>
   <strong>Ratings</strong>
 </p>

 <ul>
   <% @user.ratings.each do |rating| %>
   <li>
	 <%= render rating %>
     <% if @user == current_user %>
	   <%= link_to("delete",
	     rating_path(rating.id),
           data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>
	 <% end %>
   </li>
   <% end %>
 </ul>

  <p>
	User's favorite style is <%= @user.favorite_style %>
  </p>
 <% end %>
</p>




<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
  <% end %>
  <%= link_to "Back to users", users_path %>
  <% if @user == current_user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
