<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if admin_user %>
  <% if @user.disabled %>
  <%= link_to "Enable this user", toggle_enabled_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Disable this user", toggle_enabled_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" %>
      <% end %>
	  
  <% end %>
</p>

<p>
<% if @user.beer_clubs.confirmed.empty? %>
 Not a member of any beer club
<% else %>
 Belongs to
 <%= pluralize(@user.beer_clubs.confirmed.count, 'club') %>

  <p><strong>Memberhips</strong></p>

  <ul>
	<% @user.beer_clubs.confirmed.each do |beer_club| %>
	<li><%= link_to beer_club.name, beer_club %></li>
	<% end %>
  </ul>
<% end %>
</p>

<p>
<% if @user.ratings.empty? %>
 <p>User has not rated any beers</p>
 <% else %>
   <p>
	User's favorite style is <%= @user.favorite_style %>
  </p>
  <p>
	User's favorite brewery is <%= @user.favorite_brewery %>
  </p>

 <p>
 User has made
 <%= pluralize(@user.ratings.count, 'rating') %>
 average rating
 <%= round(@user.average_rating) %>
 </p>

 <% if @user == current_user %>
  <div>
    <strong>Recommendation based on your ratings</strong>
   <p><p>
   <%= turbo_frame_tag "beer_recommendation_tag", src: recommendation_user_path do %>
    <i>calculating the recommendation...</i>
   <% end %>
   </p></p>
  </div>
 <% end %>

 <p><strong>Ratings</strong></p>
 <%= render partial: 'ratings' %>
 <%= turbo_frame_tag "rating_details" do %>
 <% end %>
  
  <% end %>
</p>

<div>
  <% if @user == current_user %>
  <p><%= link_to "Edit this user", edit_user_path(@user), class: 'btn btn-primary' %></p>
  <p><%= button_to "Destroy this user", @user, method: :delete, class: 'btn btn-danger' %></p>
  <% end %>

  <%= link_to "Back to users", users_path %>
</div>
