<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
 <li>
   <%= render rating %>
   <!--- <%= button_to 'delete', rating, method: :delete %> --->
   <%= link_to("delete",
	   rating_path(rating.id),
       data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>
 </li>
 <% end %>
</ul>

<strong>Total ratings:</strong>
<%= @ratings.count %>

<p>
  <%= link_to "New rating", new_rating_path %>
</p>
