<h2>Ratings</h2>

<%= render partial: 'top_n', locals: { title: 'Best beers', objects: @top_beers } %>

<%= render partial: 'top_n', locals: { title: 'Best breweries', objects: @top_breweries } %>

<%= render partial: 'top_n', locals: { title: 'Best styles', objects: @top_styles } %>

<h4>Most active users</h4>
<ul>
 <% @top_users.each do |user| %>
 <li>
   <%= link_to user.username, user %>
   <%= pluralize(user.ratings.count, 'rating') %>
 </li>
 <% end %>
</ul>

<h4>Ratings</h4>

<% if @order == 'desc' %>
<%= link_to "oldest first", ratings_path(page: 1, order: 'asc') %>
<% else %>
<%= link_to "newest first", ratings_path(page: 1, order: 'desc') %>
<% end %>

<% unless @page == 1 %>
<%= link_to "<<< Previous page", ratings_path(page: @page - 1, order: @order) %>
<% end %>
<% unless @page == @last_page %>
<%= link_to "Next page >>>", ratings_path(page: @page + 1, order: @order) %>
<% end %>

<ul>
 <% @recent.each do |rating| %>
 <li>
   <%= rating.beer.name %>
   got <%= rating.score %> <%= 'point'.pluralize(rating.score) %>
   from <%= link_to rating.user.username, rating.user %>
   on <%= rating.created_at %>
 </li>
 <% end %>
</ul>

<p>
  Total ratings: <%= Rating.count %>
</p>

<p>
  <%= link_to "New rating", new_rating_path, class: 'btn btn-primary' if current_user %>
</p>
