<%= render @beer %>

<% if @beer.ratings.empty? %>
 beer has not yet been rated!
<% else %>
 Beer has
 <%= pluralize(@beer.ratings.count, 'rating') %>
 with an average of
 <%= sprintf("%.2f", @beer.average_rating) %>
<% end %>

<% if current_user %>
  <h4>give a rating:</h4>

  <p>
  <%= form_with(model: @rating) do |form| %>
    <%= form.hidden_field :beer_id %>
    score: <%= form.number_field :score %>
    <%= form.submit "Create rating" %>
  <% end %>
  </p>

  <div>
    <%= link_to "Edit this beer", edit_beer_path(@beer) %>
    <%= button_to "Destroy this beer", @beer, method: :delete %>
  </div>
<% end %>

<p>
  <%= link_to "Back to beers", beers_path %>
</p>
